*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  min-height: 100vh;
}

button{
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  background: greenyellow;
  margin-left: 20px;
}
.todolist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo{
  width: 500px;
  border: 2px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 0px 20px;
  border-radius: 10px;
}
img{
  display: block;
  width: 150px;
  height: auto;
  margin-bottom: 0;
}
